{% extends "base.html" %}


{% block title %}
    Delete Post
{% endblock title %}


{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if "warning" in message.tags %} 
            <div class="ui negative message">
                <div class="header">
                    {{message}}
                </div>
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segment">
            <h3> Delete This Post? </h3>
            <form class="ui form" action="" method="POST"> {%  csrf_token %}
                <textarea type="text" placeholder="" rows="4" cols="" name="body" value="{{post.content}}">{{post.content}}</textarea><br>
                <button class="ui positive button w-full mt-5" type="submit" name="submit_post">Delete Post</button>
            </form>
        </div>
    {% endif %}
{% endblock content %}