{% extends "base.html" %}


{% block title %}
    Post
{% endblock title %}


{% block content %}

<div class="ui grid">
    <div class="row">
        <div class="ten wide column">
            {% for post in posts %}
                <div class="ui fluid card">
                    <div class="content">
                        {{post.content}}
                    </div>
                    <div class="content">
                        <form action="{% url 'posts:like-unlike' %}" method="POST">{% csrf_token %}
                            <input type="hidden" name="post_id" value="{{post.id}}">
                            <button type="submit" class="ui primary button">
                                {% if profile not in post.liked.all %}
                                    <i class="thumbs up icon"></i>&nbsp;Like
                                {% else %}
                                    <i class="thumbs down icon"></i>&nbsp;Unlike
                                {% endif %}
                            </button>
                            &nbsp;{{post.num_likes}}
                        </form>
                    </div>
                    <div>
                        <ul>
                            {% for comment in post.num_comments_ %}
                                <p>{{comment.body}}</p>
                            {% endfor %}
                        </ul>
                    </div>
                    <form method ="POST" action="" class="ui form"> {% csrf_token %}
                        <input type="text" placeholder="Make a comment" name="comment"><br>
                        <input type="hidden" name="post_id" value="{{post.id}}">
                        <button class="ui button info" type="submit" name="submit_comment">post comment</button>
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="six wide column">
            <form method ="POST" action="" class="ui form" enctype="multipart/form-data"> {% csrf_token %}
                <textarea type="text" placeholder="" rows="4" cols="" name="content">Say your mind...</textarea><br>
                <input type="file" placeholder="" name="image"><br><br>
                <button class="ui button positive" type="submit" name="submit_post">Upload Post</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}